%h1 Letters

%p
  %a{:href=>"letters/new"} Create a new letter

%hr

- @letters.each do |letter|
  %p
    = letter.name
    %span.controls
      %a{:href=>"letters/#{letter.id}/edit"} Edit
      %a{:href=>"letters/#{letter.id}"} View
      = link_to_delete("letters/#{letter.id}")